<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/d5bfb13614.js" crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <!-- Sri handayani Togatorop -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- My CSS -->
  <link rel="stylesheet" href="./css/styles.css">
  <title>Car Management Dashboard</title>
</head>

<body>

  <!-- Side Bar -->
  <div class="sidenav">
    <!-- Nav Item - Logo -->
    <li class="nav-item mb-5">
      <a class="nav-logo" href="">
        <span></span></a>
    </li>
    <!-- Nav Item - Dashboard -->
    <li class="nav-item mb-2 mt-1">
      <a class="nav-link" href="">
        <i class="fa-solid fa-house"></i>
        <span>Dashboard</span></a>
    </li>
    <!-- Nav Item - Cars -->
    <li class="nav-item mb-2" style="background-color: #CFD4ED;">
      <a class="nav-link" href="">
        <i class="fa-solid fa-truck"></i>
        <br>
        <span>Cars</span></a>
    </li>
  </div>

  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light py-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="padding-left: 350px;">
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-bars"></i></a>
          </li>
        </ul>
        <div class="nav-form">
          <form class="d-flex">
            <input class="form-control" type="search" style="font-size: smaller;" placeholder="Search"
              aria-label="Search">
            <button class="btn btn-outline-primary" style="color:#0D28A6; font-weight: bold; font-size: smaller;"
              type="submit">Search</button>
          </form>
        </div>
        <div class="profile mx-4">
          <a><img src="./images/profile.png">
            Unis Badri
            <i class="fa-solid fa-chevron-down"></i></a>
        </div>
      </div>
    </div>
  </nav>


  <!-- Side Bar -->
  <div class="sidenav-2">
    <!-- Nav Item - Logo -->
    <li class="nav-item mb-5">
      <a class="nav-logo" href="">
        <span></span></a>
    </li>
    <!-- Nav Item - Cars -->
    <li class="nav-item mb-2">
      <a class="nav-link" href="">
        <span>CARS</span></a>
    </li>
    <!-- Nav Item - List Car -->
    <li class="nav-item mb-2">
      <a class="nav-link" style="background-color: #CFD4ED; color: black; font-weight: bold;" href="">
        <span>List Car</span></a>
    </li>
  </div>

  <div class="content-wrapper">
    <div class="container">
      <div class="row mb-lg-3">
        <div class="col-lg-10">
          <p style="font-size: small;"><strong>Cars ></strong> List Car</p>
        </div>
        <div class="col-lg-2">
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-lg-10">
          <p style="font-weight: bold; font-size: 20px;">List Car</p>
        </div>
        <div class="col-lg-2">
          <a href="create.ejs" type="button" class="btn btn-primary btn-sm" style="background-color:#0D28A6;"><i
              class="fa-solid fa-plus"></i> Add New Car</a>
        </div>
        <div class="button-list">
          <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
            aria-pressed="true">All</a>
          <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
            aria-pressed="true">Small</a>
          <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
            aria-pressed="true">Medium</a>
          <a href="#" class="btn btn-primary active me-3" role="button" data-bs-toggle="button"
            aria-pressed="true">Large</a>
        </div>
      </div>
      <div class="row car-body">
        <div class="col-lg-4">
          <div class="card" style="-webkit-box-shadow: 0 0 10px #F1F3FF; box-shadow: 0 0 10px #F1F3FF; border-radius: 8px; height: 400px;">
            <div class="card-body">
              <img src="/images/image_car.png" style="max-width: 100%;">
              <p class="card-text">Nama/Tipe Mobil</p>
              <p class="card-text" style="font-weight: bold;">Rp. 430.000/hari</p>
              <p class="card-text" style="font-size: small;">Updated at...</p>
              <a href="#" class="btn btn-outline-danger mx-4" role="button" data-bs-toggle="button"><i
                  class="fa-solid fa-trash"></i> Delete</a>
              <a href="edit.ejs" class="btn btn-success mx-4" role="button" data-bs-toggle="button"
                style="background-color:  #4CAF50;"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" style="-webkit-box-shadow: 0 0 10px #F1F3FF; box-shadow: 0 0 10px #F1F3FF; border-radius: 8px; height: 400px; box-shadow: 20px;">
            <div class="card-body">
              <img src="/images/image_car.png" style="max-width: 100%;">
              <p class="card-text">Nama/Tipe Mobil</p>
              <p class="card-text" style="font-weight: bold;">Rp. 430.000/hari</p>
              <p class="card-text" style="font-size: small;">Updated at...</p>
              <a href="#" class="btn btn-outline-danger mx-4" role="button" data-bs-toggle="button"><i
                  class="fa-solid fa-trash"></i> Delete</a>
              <a href="#" class="btn btn-success mx-4" role="button" data-bs-toggle="button"
                style="background-color:  #4CAF50;"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card" style="-webkit-box-shadow: 0 0 10px #F1F3FF; box-shadow: 0 0 10px #F1F3FF; border-radius: 8px; height: 400px;">
            <div class="card-body">
              <img src="/images/image_car.png" style="max-width: 100%;">
              <p class="card-text">Nama/Tipe Mobil</p>
              <p class="card-text" style="font-weight: bold;">Rp. 430.000/hari</p>
              <p class="card-text" style="font-size: small;">Updated at...</p>
              <a href="#" class="btn btn-outline-danger mx-4" role="button" data-bs-toggle="button"><i
                  class="fa-solid fa-trash"></i> Delete</a>
              <a href="#" class="btn btn-success mx-4" role="button" data-bs-toggle="button"
                style="background-color:  #4CAF50;"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>








  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
</body>

</html>